# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# FastF1 cache
cache/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Output
output/
